<div id="<%= dom_id order %>" class="w-full sm:w-auto my-5 space-y-5">
  <div>
    <strong class="block font-medium mb-1">Product:</strong>
    <%= order.product_id %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Customer name:</strong>
    <%= order.customer_name %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Amount:</strong>
    <%= order.amount %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Status:</strong>
    <%= order.status %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Payment key:</strong>
    <%= order.payment_key %>
  </div>
  <div>
    <strong class="block font-medium mb-1">Order uid:</strong>
    <%= order.order_uid %>
  </div>
</div>
